agent:
  name: single-agent
  prompts:
    main:
      name: main
dataset:
  dataset_id: browsecomp_plus_sampled_100
  env:
    done_determined_by_env: false
    name: browsecomp-plus
    prompts: {}
    tools:
    - search_documents
    - retrieve_document
    - done
  eval_llm:
    model: gemini/gemini-2.0-flash
    params:
      cache: {}
      temperature: 0.0
  eval_prompts:
    grader:
      local_path: prompts/eval/browsecomp-grader.yaml
      name: grader
  from_langfuse: false
  local_path: datasets/browsecomp_plus_sampled_100.json
  templates_local_path: prompts/dataset-shared/browsecomp.yaml
  use_llm_eval: true
llm:
  model: openai/gpt-5-mini
  params:
    cache: {}
    temperature: 0.0
num_workers: 1
run_name: single-agent_gpt-5-mini
save_dir: exp_outputs/browsecomp-plus/single-agent/openai/gpt-5-mini
